Config/CrimeConfig.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.cems.uwe.ac.uk/~hlp2-winser/atwd/Config/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Config">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="CrimeAbriviations">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Crime" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:simpleContent>
                    <xs:extension base="xs:string">
                      <xs:attribute type="xs:string" name="name" use="optional"/>
                      <xs:attribute type="xs:string" name="abrivated" use="optional"/>
                      <xs:attribute type="xs:string" name="crimecatagory" use="optional"/>
                      <xs:attribute type="xs:string" name="type" use="optional"/>
                      <xs:attribute type="xs:string" name="iscrimecatagory" use="optional"/>
                    </xs:extension>
                  </xs:simpleContent>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="crime_data">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="stored_xml_location"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="cache_data_location">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="stored_cache_location"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>